.list-container {
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style: none;
  padding: 0;
  transition: opacity, box-shadow;
  transition-timing-function: ease-out;
  transition-duration: 1250ms;
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  margin-block: 1px;
  box-shadow: 0 1px 3px 1px var(--shadow-color);
  opacity: 0;     
  position: relative;
}

@media (max-height: 360px) {
  .list {
    max-height: calc(100vh - 202px);
  }
}

.list-hide {
  position: absolute;
  top: 67px;
  width: 100%;
  opacity: 0;
  z-index: -1;
  box-shadow: none;
  transition-timing-function: ease-in;
}

.list-show {
  opacity: 1;
}

.footer-container {
  transition: none;
}

.footer-container-animating {
  transition: transform 1s ease-in-out;
}
